<html>
    <head>
        <title>Push notification server</title>
        <link rel="shortcut icon" href="">
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
    </head>
    <body>
        <form id="login">
            Usuário: <input type="text" id="usuario" value="rodrigo"><br>
            Senha: <input type="text" id="senha" value="plata"><br>
            <input type="submit" value="Enviar">
            <div id="retorno_login"></div>
        </form>
        <hr>
        <form id="consulta">
            Quantidade de operações:
            <div id="retorno_consulta"></div>
            <input type="submit" value="Enviar">
        </form>
        <hr>
        <form id="cadastrar_operacao">
            codigo_op: <input type="text" id="codigo_operacao"><br>
            Valor: <input type="text" id="valor_operacao"><br>
            <input type="submit" value="Enviar">
            <div id="retorno_cadastrar_operacao"></div>
        </form>
        <hr>
        <form id="cadastrar_duplicata">
            codigo_op: <input type="text" id="codigo_op"><br>
            chave_duplicata: <input type="text" id="chave_duplicata"><br>
            cpf_cnpj_sacado: <input type="text" id="cpf_cnpj_sacado"><br>
            cnpj_emissor: <input type="text" id="cnpj_emissor"><br>
            Valor: <input type="text" id="valor_duplicata"><br>
            situacao_nova_duplicata: <input type="text" id="situacao_nova_duplicata"><br>
            <input type="submit" value="Enviar">
            <div id="retorno_cadastrar_duplicata"></div>
        </form>
        
        retorno_sendTransaction:
        <div id="retorno_sendTransaction"></div>
        <hr>
        container:
        <div id="container"></div>
        <!--
        <br><br>
        sessionID: <%= sessionID %>
        <br>
        IP:  <%= ip %>
        -->
        <script>
        //var socket = io.connect('http://ec2-54-171-185-229.eu-west-1.compute.amazonaws.com');
        //var socket = io.connect('http://localhost:9090');
        var socket = io.connect('/');
        var usuario = "";
        
        socket.on('connect', function () {
            // call the server-side function 'adduser' and send one parameter (value of prompt)
            socket.emit('adduser', '<%= sessionID %>');
        });

        socket.on('servernotification', function (data) {
            //var searchUrl = searchUrlFor(data.username);

            if (data.connected) {
                if (data.toSelf) data.sessionID = 'you';
                //$('#conversation').append('connected: <a href="' + searchUrl + '" target="_blank">' + escaped(data.username) + '</a><br/>');
            } else {
                //$('#conversation').append('disconnected: <a href="' + searchUrl + '" target="_blank">' + escaped(data.username) + '</a><br/>');
            }
        });

        /*var markers = [{ "position": "128.3657142857143", "markerPosition": "7" },
               { "position": "235.1944023323615", "markerPosition": "19" },
               { "position": "42.5978231292517", "markerPosition": "-3" }];*/
        
        $("#consulta").submit(function () {
            var _data = {};
            _data.usuario = usuario;

            postAjax("/" + this.id, 
                _data, 
                function(data) {
                    $("#retorno_consulta").html(formataHTML_Descida(data.msg));
                }, function(errMsg) {
                    alert(errMsg);
                });

            event.preventDefault();
        });
        
        $("#cadastrar_operacao").submit(function () {
            var _data = {};
            _data.codigo_operacao = $("#codigo_operacao").val();
            _data.valor_operacao = $("#valor_operacao").val();
            _data.usuario = usuario;

            postAjax("/" + this.id, 
                _data, 
                function(data) {
                    $("#retorno_cadastrar_operacao").html(formataHTML_Descida(data.msg));
                }, function(errMsg) {
                    alert(errMsg);
                });

            event.preventDefault();
        });
        
        $("#cadastrar_duplicata").submit(function () {
            var _data = {};
            _data.codigo_op = $("#codigo_op").val();
            _data.chave_duplicata = $("#chave_duplicata").val();
            _data.cpf_cnpj_sacado = $("#cpf_cnpj_sacado").val();
            _data.cnpj_emissor = $("#cnpj_emissor").val();
            _data.valor_duplicata = $("#valor_duplicata").val();
            _data.situacao_nova_duplicata = $("#situacao_nova_duplicata").val();
            _data.usuario = usuario;

            postAjax("/" + this.id, 
                _data, 
                function(data) {
                    $("#retorno_cadastrar_duplicata").html(formataHTML_Descida(data.msg));
                    //alert(data)
                }, function(errMsg) {
                    alert(errMsg);
                });

            event.preventDefault();
        });

        $("#login").submit(function () {
            var _data = {};
            _data.usuario = $("#usuario").val();
            _data.senha = $("#senha").val();
            
            //alert(_data + '\n' + this.id);
            postAjax("/" + this.id, 
                _data, 
                function(data) {
                    $("#retorno_login").html(data);
                    if (data == "validado!") {
                        usuario = $("#usuario").val();
                    }
                }, function(errMsg) {
                    alert(errMsg);
                });

            event.preventDefault();
        });

        function postAjax(_url, _data, _cbSuccess, _cbError) {
            //alert(JSON.stringify(_data));
            $.ajax({
                type: "POST",
                url: _url,
                data: JSON.stringify(_data),
                //data: _data,
                //dataType: "json",
                contentType: 'application/json',
                success: _cbSuccess,
                failure: _cbError
            });
        }
        
        // on every message recived we print the new datas inside the #container div
        
        socket.on('notification', function (data) {
            // convert the json string into a valid javascript object

            $('#container').html(data);
            $('time').html('Last Update:' + new Date());
        });
        
        
        socket.on('retorno_sendTransaction', function (data) {
            $('#retorno_sendTransaction').html(data);
        });

        function formataHTML_Descida(input) {
            var output = input.replace("\n", "<br />")

            return output
        }
        

        //socket.emit('notification', 'plata');
        </script>
    </body>
</html>
