<html>
    <head>
        <title>Push notification server</title>
        <link rel="shortcut icon" href="">
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
    </head>
    <body>
        <form id="login">
            Usuário: <input type="text" id="usuario"><br>
            Senha: <input type="text" id="senha"><br>
            <input type="submit" value="Enviar">
            <div id="retorno_login"></div>
        </form>
        <hr>
        <form id="cadastro">
            Garantia ID: <input type="text" id="garantia_id"><br>
            Valor: <input type="text" id="valor"><br>
            <input type="submit" value="Enviar">
            <div id="retorno_cadastro"></div>
        </form>
        
        <time></time>
        <div id="container">Try to change your xml data to update this content</div>
        <br><br>
        sessionID: <%= sessionID %>
        <br>
        IP:  <%= ip %>
        <script>
        //var socket = io.connect('http://ec2-54-171-185-229.eu-west-1.compute.amazonaws.com');
        //var socket = io.connect('http://localhost:9090');
        var socket = io.connect('/');
        var usuario = "";
        
        socket.on('connect', function () {
            // call the server-side function 'adduser' and send one parameter (value of prompt)
            socket.emit('adduser', '<%= sessionID %>');
        });

        socket.on('servernotification', function (data) {
            //var searchUrl = searchUrlFor(data.username);

            if (data.connected) {
                if (data.toSelf) data.sessionID = 'you';
                //$('#conversation').append('connected: <a href="' + searchUrl + '" target="_blank">' + escaped(data.username) + '</a><br/>');
            } else {
                //$('#conversation').append('disconnected: <a href="' + searchUrl + '" target="_blank">' + escaped(data.username) + '</a><br/>');
            }
        });

        /*var markers = [{ "position": "128.3657142857143", "markerPosition": "7" },
               { "position": "235.1944023323615", "markerPosition": "19" },
               { "position": "42.5978231292517", "markerPosition": "-3" }];*/
        
        $("#cadastro").submit(function () {
            var _data = {};
            _data.garantia_id = $("#garantia_id").val();
            _data.valor = $("#valor").val();
            _data.usuario = usuario;

            postAjax("/" + this.id, 
                _data, 
                function(data) {
                    $("#retorno_cadastro").html(data);
                }, function(errMsg) {
                    alert(errMsg);
                });

            event.preventDefault();
        });

        $("#login").submit(function () {
            var _data = {};
            _data.usuario = $("#usuario").val();
            _data.senha = $("#senha").val();
            
            postAjax("/" + this.id, 
                _data, 
                function(data) {
                    $("#retorno_login").html(data);
                    if (data == "validado!") {
                        usuario = $("#usuario").val();
                    }
                }, function(errMsg) {
                    alert(errMsg);
                });

            event.preventDefault();
        });

        function postAjax(_url, _data, _cbSuccess, _cbError) {
            alert(JSON.stringify(_data));
            $.ajax({
                type: "POST",
                url: _url,
                data: JSON.stringify(_data),
                //data: _data,
                //dataType: "json",
                contentType: 'application/json',
                success: _cbSuccess,
                failure: _cbError
            });
        }
        
        // on every message recived we print the new datas inside the #container div
        
        socket.on('notification', function (data) {
            // convert the json string into a valid javascript object

            $('#container').html(data);
            $('time').html('Last Update:' + new Date());
        });
        

        //socket.emit('notification', 'plata');
        </script>
    </body>
</html>
