<!-- Inicio acordo -->
<div id="incluir_acordo" style="display:none;">
    <b class="title">Inclus&atilde;o de Acordo</b>
    <table>
        <tr><td>C&oacute;digo da Apólice:</td><td><input id="cad_acordo_codigo_apolice" maxlength="25" /></td></tr>
    </table>
    <div data-role="collapsible" data-mini="true" id="dados_acordo">
        <h4>Dados da Acordo</h4>
        <table>
            <tr><td>Seguradora (Address ethereum):</td><td><input id="cad_acordo_address_seguradora_aceito" /></td></tr>
            <tr><td>Percentual:</td><td><input id="cad_acordo_percentual" maxlength="16" /></td></tr>
        </table>
    </div>
    
    <input type="hidden" id="cad_acordo_index_apolice" />
    <button id="incluir_acordo_btn">Incluir Acordo</button>

    <div id="incluir_acordo_lista_acordos"></div>
</div>

<div id="consultar_acordo" style="display:none;"></div>
<!-- Fim acordo -->