<!-- Inicio acordo -->
<div id="consultar_acordo" style="display:none;"></div>

<div id="autorizacao_acordo" style="display:none;">
    <b class="title">Autorização do Acordo</b>
    <table>
        <tr><td>Código:</td><td><div id="autorizacao_apolice_codigo"></div></td></tr>
        <tr><td>Valor Prêmio:</td><td><div id="autorizacao_apolice_valor_premio"></div></td></tr>
        <tr><td>Valor Cobertura:</td><td><div id="autorizacao_apolice_valor_cobertura"></div></td></tr>
        <tr><td>Data de Vencimento:</td><td><div id="autorizacao_apolice_dt_vencimento"></div></td></tr>
        <tr><td>Número do Aditivo:</td><td><div id="autorizacao_apolice_numero_aditivo"></div></td></tr>
        <tr><td>Tipo:</td><td><div id="autorizacao_apolice_tipo"></div></td></tr>
        <tr><td>Percentual da Comissão:</td><td><div id="autorizacao_apolice_persent_comisao"></div></td></tr>
        <tr><td>Persentual do Desconto:</td><td><div id="autorizacao_apolice_persent_desconto"></div></td></tr>
    </table>
    <div id="seg1">
        <b>Participação da Cosseguradora</b>
        <table>
            <tr><td>Seguradora:</td><td><div id="autorizacao_apolice_seg1"></div></td></tr>
            <tr><td>Percentual:</td><td><div id="autorizacao_apolice_seg1_percent"></div></td></tr>
        </table>
    </div>
    <input type="hidden" id="index_apolice" value="" />
    <button id="autorizar_acordo_btn">Autorizar Acordo</button>
    <button id="rejeitar_acordo_btn">Rejeitar Acordo</button>
</div>
<!-- Fim acordo -->