<!-- Inicio apolice -->
<div id="incluir_apolice" style="display:none;">
    <b class="title">Inclus&atilde;o de Apólice</b>
    <table>
        <tr><td>Código:</td><td><input id="cad_apolice_codigo" maxlength="44" /></td></tr>
        <tr><td>Valor Prêmio:</td><td><input id="cad_apolice_valor_premio" maxlength="16" /></td></tr>
        <tr><td>Valor Cobertura:</td><td><input id="cad_apolice_valor_cobertura" maxlength="16" /></td></tr>
        <tr><td>Data de Vencimento:</td><td><input id="cad_apolice_dt_vencimento" maxlength="16" /></td></tr>
    </table>
    
    <button id="incluir_apolice_btn">Incluir Apólice</button>

    <div id="incluir_apolice_lista_apolices"></div>
</div>

<div id="alterar_apolice" style="display:none;">
    <b class="title">Altera&ccedil;&atilde;o de Apólice</b>
    <table>
        <tr><td>Código:</td><td><input id="alt_apolice_codigo" maxlength="44" /></td></tr>
        <tr><td>Valor Prêmio:</td><td><input id="alt_apolice_valor_premio" maxlength="16" /></td></tr>
        <tr><td>Valor Cobertura:</td><td><input id="alt_apolice_valor_cobertura" maxlength="16" /></td></tr>
        <tr><td>Data de Vencimento:</td><td><input id="alt_apolice_dt_vencimento" maxlength="16" /></td></tr>
    </table>
    
    <input type="hidden" id="index_apolice_alt" />
    <input type="hidden" id="index_operacao_alt" />
    <button id="alterar_apolice_btn">Alterar Apólice</button>
</div>

<div id="consultar_apolice" style="display:none;"></div>
<!-- Fim apolice -->