<div id="wrapper" style="display:block;">
    <h1 id="titulo"><%= tituloHTML %></h1>
    <ul class="nav">
        <li class="box-apolice" id="menu-apolice">
            <img class="icon" src="public/images/duplicata.png" alt="" width="40" height="40">
            <span>Apólices</span>
        </li>
        <li class="box-acordo" id="menu-acordo">
            <img class="icon" src="public/images/operacao.png" alt="" width="40" height="40">
            <span>Acordos</span>
        </li>
        <li class="box-control" id="menu-controle">
            <img class="icon" src="public/images/control.png" alt="" width="40" height="40">
            <span>Controle</span>
        </li>
        <li class="box-monitor" id="menu-transacoes">
            <img class="icon" src="public/images/Monitor.png" alt="" width="40" height="40">
            <span>Monitora&ccedil;&atilde;o</span>
        </li>
    </ul>
</div>

<div id="sub-menu-grupo-acordo" style="display:none;">
    <div id="wrapper-sub-menu">
        <ul class="nav" style="">
            <li class="cinza" id="sub-menu-acordo-consultar">
                <img class="icon_sub" src="public/images/lupa.png" alt="" width="25"" height="25"">
                <span class="cinza_texto">Consultar</span>
            </li>
            <!--li class="cinza" id="sub-menu-acordo-incluir">
                <img class="icon_sub" src="public/images/plus.png" alt="" width="25"" height="25"">
                <span class="cinza_texto">Incluir</span>
            </li-->
        </ul>
    </div>
</div>

<div id="sub-menu-grupo-apolice" style="display:none;">
    <div id="wrapper-sub-menu">
        <ul class="nav" style="">
            <li class="cinza" id="sub-menu-apolice-consultar">
                <img class="icon_sub" src="public/images/lupa.png" alt="" width="25" height="25">
                <span class="cinza_texto">Consultar</span>
            </li>
            <li class="cinza" id="sub-menu-apolice-incluir">
                <img class="icon_sub" src="public/images/plus.png" alt="" width="25" height="25">
                <span class="cinza_texto">Incluir</span>
            </li>
        </ul>
    </div>
</div>

<div id="sub-menu-grupo-controle" style="display:none;">
    <div id="wrapper-sub-menu">
        <ul class="nav" style="">
            <li class="cinza" id="sub-menu-sobra">
                <img class="icon_sub" src="public/images/overflow.png" alt="" width="25" height="25">
                <span class="cinza_texto">Sobras</span>
            </li>
            <li class="cinza" id="sub-menu-falta">
                <img class="icon_sub" src="public/images/warning.png" alt="" width="25" height="25">
                <span class="cinza_texto">Faltas</span>
            </li>
        </ul>
    </div>
</div>