<div class="mensagem_sucesso"></div>
<div class="mensagem_erro"></div>
<div class="mensagem_alerta"></div>

<div class="modal"><!-- Place at bottom of page --></div>
<div data-role="popup" id="popup_chave" class="ui-content">
    <a href="#" id="close_chave" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
    <p style="font-size:0.7em;"></p>
</div>