<div id="controle_sobra" style="display:none;">
    <b class="title_sobra">Sobra de opra&ccedil;&otilde;es</b>
    <div id="div-slider-sobra"><input type="range" name="slider-range-max-sobra" data-mini="true" id="slider-range-max-sobra" data-highlight="true" data-popup-enabled="true" min="0" max="100" step="1" value="30"></div>
    <span style="font-size:0.7em; margin-left:10px; position:relative; top:-35px;">Percentual de cobertura excedente: <span id="limite_sobra">30%</span></span>
    <div id="controle_sobra_conteudo" style="position:relative; top:-35px;"></div>
</div>

<div id="controle_falta" style="display:none;">
    <b class="title_falta">Insufici&ecirc;ncia de operacoes cobertas</b>
    <div id="div-slider-falta"><input type="range" name="slider-range-max-falta" data-mini="true" id="slider-range-max-falta" data-highlight="true" data-popup-enabled="true" min="1" max="99" step="1" value="99"></div>
    <span style="font-size:0.7em; margin-left:10px; position:relative; top:-35px;">Percentual de Cobertura: <span id="limite_falta">99%</span></span>
    <div id="controle_falta_conteudo" style="position:relative; top:-35px;"></div>
</div>